/*font face css*/

@font-face {
    font-family: 'cascadia';
    src: url('font/Cascadia-Regular.ttf');
}

/*dark theme (default)*/
:root[data-theme="dark"] {
    --background-color: #040404;
    --background-disabled-color: rgba(0, 0, 0, 0.75);
    --background-gray-color: rgba(255, 255, 255, 0.1);
    --text-color: #ffffff;
    --primary-color: #00adb5;
    --danger-color: #dc3545;
    --gray-color: #d5d5d5;
    --white-color: #ffffff;
    --input-background-color: rgba(255, 255, 255, 0.1);
    --border-color: rgba(255, 255, 255, 0.2);
    --scrollbar-track-color: #a7a7a7;
    --scrollbar-thumb-color: #575757;
    --h4-bg-color: rgba(75, 75, 75, 0.2);
}

/*light theme*/
:root[data-theme="light"] {
    --background-color: #f0f0f0;
    --background-disabled-color: rgba(0, 0, 0, 0.1);
    --background-gray-color: rgba(0, 0, 0, 0.1);
    --primary-color: #008b91;
    --text-color: #333333;
    --input-background-color: rgba(0, 0, 0, 0.1);
    --border-color: rgba(0, 0, 0, 0.2);
    --scrollbar-track-color: #e0e0e0;
    --scrollbar-thumb-color: #b0b0b0;
    --black: #4d4d4d;
    --color-white: #333333;
    --color-theme-back: #FFF;
}

/*theme-toggle*/
.theme-toggle--toggled {
    background: var(--color-theme-back);
}

.theme-toggle.theme-toggle--reversed .theme-toggle__expand {
    transform: scale(-1,1)
}

.theme-toggle {
    --theme-toggle__expand--duration: 500ms
}

.theme-toggle__expand g circle, .theme-toggle__expand g path {
    transform-origin: center;
    transition: transform calc(var(--theme-toggle__expand--duration) * .65) cubic-bezier(0, 0, 0, 1.25) calc(var(--theme-toggle__expand--duration) * .35)
}

.theme-toggle__expand :first-child path {
    transition-property: transform,d;
    transition-duration: calc(var(--theme-toggle__expand--duration) * .6);
    transition-timing-function: cubic-bezier(0,0,0.5,1)
}

.theme-toggle input[type=checkbox]:checked ~ .theme-toggle__expand g circle, .theme-toggle--toggled:not(label).theme-toggle .theme-toggle__expand g circle {
    transform: scale(1.4);
    transition-delay: 0s
}

.theme-toggle input[type=checkbox]:checked ~ .theme-toggle__expand g path, .theme-toggle--toggled:not(label).theme-toggle .theme-toggle__expand g path {
    transform: scale(.75);
    transition-delay: 0s
}

.theme-toggle input[type=checkbox]:checked ~ .theme-toggle__expand :first-child path, .theme-toggle--toggled:not(label).theme-toggle .theme-toggle__expand :first-child path {
    d: path("M-9 3h25a1 1 0 0017 13v30H0Z");
    transition-delay: calc(var(--theme-toggle__expand--duration) * 0.4);
    transition-timing-function: cubic-bezier(0,0,0,1.25)
}

@supports not (d:path("")) {
    .theme-toggle input[type=checkbox]:checked ~ .theme-toggle__expand :first-child path, .theme-toggle--toggled:not(label).theme-toggle .theme-toggle__expand :first-child path {
        transform: translate3d(-9px,14px,0)
    }
}

.theme-toggle {
    border: none;
    background: 0 0;
    cursor: pointer
}

    .theme-toggle input[type=checkbox] {
        display: none
    }

    .theme-toggle .theme-toggle-sr {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        white-space: nowrap;
        border-width: 0
    }

@media (prefers-reduced-motion:reduce) {
    .theme-toggle:not(.theme-toggle--force-motion) * {
        transition: none !important
    }
}

/*general css*/
body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    z-index: 1;
    font-family: "cascadia", sans-serif;
}

    body::before {
        content: "";
        position: fixed;
        background-color: var(--background-color);
        background-size: cover;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: -1;
    }

main {
    position: absolute;
    width: 100%;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

p {
    text-align: justify;
}

input.form-control, textarea.form-control {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: var(--input-background-color);
    border: 0;
    transition: 0.3s;
    color: var(--text-color);
    padding: 10px 15px;
}

    input.form-control:focus, textarea.form-control:focus {
        background-color: var(--input-background-color);
        border-color: var(--primary-color);
        color: var(--text-color);
        box-shadow: 0 0 0 .05rem var(--primary-color);
    }

    input.form-control::-moz-placeholder, textarea.form-control::-moz-placeholder {
        color: var(--text-color);
        opacity: 1;
    }

    input.form-control::placeholder, textarea.form-control::placeholder {
        color: var(--text-color);
        opacity: 1;
    }

button {
    background: transparent;
    border: 1px solid var(--primary-color);
    padding: 5px 20px;
    font-size: 14px;
    color: var(--primary-color);
    transition: 0.3s;
    width: auto !important;
}

    button i {
        margin-right: 3px;
    }

    button:hover {
        background: var(--primary-color);
        color: var(--text-color);
    }

/*scroll bar css*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}

    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color);
    }

/*logo top*/
.logo-top {
    display: flex;
    flex-direction: column;
    align-items: end;
}

    .logo-top img {
        position: fixed;
        width: 50px;
        padding-top: 15px;
        z-index: 998;
    }

@media (max-width: 768px) {
    .logo-top {
        top: 20%;
        align-items: center;
    }
}

/*home tab css*/

.home {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
}

    .home * {
        transition: ease-in-out 0.3s;
    }

    .home h1 {
        font-size: 48px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 700;
    }

        .home h1 a,
        .home h1 a:hover {
            color: var(--text-color);
            line-height: 1;
            display: inline-block;
        }

    .home h2 {
        font-size: 24px;
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.8);
    }


        .home h2 span.intro {
            color: var(--text-color);
            font-size: 50px;
            display: block;
        }

        .home h2 span.name {
            color: var(--text-color);
            font-size: 100px;
            display: block;
            padding: 25px 0;
        }

        .home h2 span.title {
            color: var(--primary-color);
            font-size: 35px;
            display: block;
            padding-bottom: 6px;
        }

        .home h2 span.profession {
            color: var(--text-color);
            font-size: 16px;
            display: block;
        }

    .home .sns {
        margin-top: 40px;
        display: flex;
    }

        .home .sns a {
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--background-gray-color);
            color: var(--text-color);
            line-height: 1;
            margin-right: 15px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }

        .home .sns i {
            font-size: 18px;
        }

        .home .sns a:hover {
            background: var(--primary-color);
            color: var(--white-color);
        }

@media (max-width: 992px) {
    .home h1 {
        font-size: 36px;
    }

    .home h2 {
        font-size: 20px;
        line-height: 40px;
    }

        .home h2 span.name {
            font-size: 75px;
            padding: 40px 0;
        }

    /*.home h2 span.intro {
            font-size: 30px;
        }
        
        .home h2 span.title {
            font-size: 30px;
        }

        .home h2 span.profession {
            font-size: 14px;
        }*/

    .home .sns {
        margin-top: 25px;
    }

    .home .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.home.nav-top {
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: var(--background-color);
}

    .home.nav-top .sns,
    .home.nav-top h2,
    .home.nav-top .footer,
    .home.nav-top .logo-top {
        display: none;
    }

    .home.nav-top h1 {
        margin-right: auto;
        font-size: 36px;
    }

    .home.nav-top img {
        max-height: 60px;
        margin-right: 20px !important;
    }

    .home.nav-top .container {
        display: flex;
        align-items: center;
    }

    .home.nav-top .navbar {
        margin: 0;
    }

@media (max-width: 768px) {
    .logo-top.nav-top {
        display: none;
    }
}

/*navigation bar css*/

.navbar {
    padding: 0;
    margin-top: 25px;
}

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
        padding: 0 5px;
    }

        .navbar li + li {
            margin-left: 30px;
        }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        font-size: 18px;
        font-weight: 400;
        color: var(--text-color);
        white-space: nowrap;
        transition: 0.3s;
    }

        .navbar a i,
        .navbar a:focus i {
            font-size: 12px;
            line-height: 0;
            margin-left: 5px;
        }

        .navbar a:before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -4px;
            left: 0;
            background-color: var(--primary-color);
            visibility: hidden;
            width: 0px;
            transition: all 0.3s ease-in-out 0s;
        }

        .navbar a:hover:before,
        .navbar li:hover > a:before,
        .navbar .active:before {
            visibility: visible;
            width: 100%;
        }

        .navbar a:hover,
        .navbar .active,
        .navbar .active:focus,
        .navbar li:hover > a {
            color: var(--text-color);
        }

/*section css*/

section {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 140px;
    bottom: 100%;
    opacity: 0;
    transition: ease-in-out 0.4s;
    z-index: 9;
}

    section:active, section:focus {
        outline: none;
    }

    section.section-show {
        top: 100px;
        bottom: auto;
        opacity: 1;
        padding-bottom: 45px;
    }

    section .container {
        padding: 30px;
    }

    section .panel {
        padding: 0 20px;
        border-left: 2px solid var(--border-color);
        position: relative;
    }

        section .panel::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 10px;
            left: -3px;
            top: 0;
            background: var(--primary-color);
        }

        section .panel h4 {
            line-height: 18px;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            color: var(--text-color);
            margin: 10px 0;
            letter-spacing: 2px;
        }

@media (max-width: 768px) {
    section {
        top: 120px;
    }

        section.section-show {
            top: 80px;
        }
}

.section-title h2 {
    font-size: 22px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 25px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--primary-color);
}

/*about css*/
.about .bg {
    position: absolute;
    opacity: .3;
    right: 10%;
}

@media (max-width: 992px) {
    .about .bg {
        width: 350px;
    }
}

/*summary css*/
.summary .summary-item {
    padding: 0 0 20px 20px;
    /*border-left: 2px solid var(--border-color);*/
    position: relative;
    display: inline-block;
    width: calc(100% - 65px);
}

.summary .summary-title {
    padding: 0 10px 0 0;
    margin-top: -2px;
    /*border-left: 2px solid var(--border-color);*/
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 55px;
}

    .summary .summary-item h4, .summary .summary-title h4 {
        line-height: 18px;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--text-color);
        margin: 10px 0 15px 0;
        letter-spacing: 2px;
    }

        .summary .summary-item h4.link {
            cursor: pointer;
            text-decoration: underline;
        }

            .summary .summary-item h4.link:hover {
                color: var(--primary-color);
            }

        .summary .summary-item h4 em {
            float: right;
            color: var(--primary-color);
            font-size: 12px;
            font-weight: 400;
        }

        .summary .summary-item h4 span {
            margin-top: 5px;
            font-style: italic;
            font-weight: 500;
        }

.summary .summary-item p {
    color: var(--text-color);
    margin-bottom: 5px;
}

    .summary .summary-item p i {
        font-size: 12px;
    }

.summary .summary-item h5 {
    font-size: 16px;
    background: var(--background-gray-color);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.summary .summary-item ul {
    padding-left: 0;
    color: var(--text-color);
    list-style-type: none;
}

    .summary .summary-item ul li {
        padding: 5px 0;
        font-style: italic;
    }

.about .summary .summary-item ul li {
    font-size: 14px;
    opacity: .7;
}

.summary .summary-item ul li:first-child {
    padding-top: 0px !important;
}

.summary .summary-item ul li i {
    margin-right: 10px;
}

.summary .summary-item:last-child {
    padding-bottom: 0;
}

.summary .summary-item::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 10px;
    left: -3px;
    top: 10px;
    background: var(--primary-color);
}

.summary .summary-item::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    left: -2px;
    top: 10px;
    background: var(--border-color);
}

.summary .summary-item a {
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
}

@media screen and (max-width: 550px) {
    .about .summary .summary-item h4 em {
        font-size: 10px;
    }

    .summary .summary-item h4 span {
        width: 100%;
        display: block;
    }

    .about .summary .summary-item p {
        font-size: 14px;
    }

        .about .summary .summary-item p em {
            font-size: 12px;
        }

    .about .summary .summary-item ul li {
        font-size: 12px;
        opacity: .7;
    }

    .summary .summary-item {
        width: calc(100% - 25px);
    }

        .summary .summary-item a, .summary .summary-title {
            display: none;
        }
}

/*portfolio tab css*/

.portfolio .p-item {
    margin-bottom: 30px;
}

.portfolio .p-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    display: block;
}

    .portfolio .p-wrap::before {
        content: "";
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
    }

    .portfolio .p-wrap .p-info {
        opacity: 1;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .portfolio .p-wrap .p-info::before, .portfolio .p-wrap .p-info::after {
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 9994;
            opacity: 0;
            transition: all 0.3s ease-in-out 0s;
        }

    .portfolio .p-wrap:hover .p-info::before, .portfolio .p-wrap:hover .p-info::after {
        border: 1px solid var(--primary-color);
        opacity: 1;
    }

    .portfolio .p-wrap .p-info h4 {
        background: var(--h4-bg-color);
        border-radius: 5px;
        box-shadow: 0px 0px 20px 20px var(--h4-bg-color);
        font-size: 25px;
        line-height: 1.3;
        color: var(--text-color);
        font-weight: 600;
        transition: all 0.3s ease-in-out 0s;
    }

    .portfolio .p-wrap .p-info p {
        color: var(--text-color);
        font-size: 15px;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        transition: all 0.3s ease-in-out 0s;
    }

    .portfolio .p-wrap:hover .p-info h4, .portfolio .p-wrap:hover .p-info p {
        color: var(--text-color);
    }

/*contact tab css*/

.contact a {
    color: var(--text-color);
}

    .contact a:hover {
        color: var(--primary-color);
        text-decoration: none;
    }

.contact .message .loading {
    -ms-flex-align: center;
    align-items: center;
    background: rgb(4 4 4 / 70%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 50;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

    .contact .message .loading:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: 3px solid var(--primary-color);
        border-top-color: var(--primary-color);
        animation: animate-loading 1s linear infinite;
    }

.validation-message {
    color: var(--danger-color);
    font-size: 12px;
    padding: 0 15px;
}

.notification {
    border-radius: 5px;
    padding: 15px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

    .notification.notif-danger {
        border: 1px solid var(--danger-color);
        color: var(--danger-color);
    }

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*loading css*/
.loading {
    font-size: 14px;
    color: var(--text-color);
    opacity: .2;
}

/*not found css*/
.not-found {
    font-size: 14px;
    color: var(--text-color);
    opacity: .2;
}

/*footer css*/

.footer {
    font-size: 14px;
    color: var(--text-color);
    opacity: .2;
    position: absolute;
    bottom: 0;
}

@media (max-width: 992px) {
    .footer p {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*under maintenance css*/

.under-maintenance {
    -ms-flex-align: center;
    align-items: center;
    background: var(--background-disabled-color);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 50;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    color: var(--text-color);
}

    .under-maintenance i {
        margin-left: 5px;
        font-size: 25px;
    }

/*slider css*/
.card-whiskey-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin: 0 10px;
    padding: 0;
}

    .card-whiskey-slider::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 8px;
        height: 8px;
    }

    .card-whiskey-slider::-webkit-scrollbar-thumb {
        border-radius: 0;
        background-color: var(--scrollbar-thumb-color);
        opacity: .5;
    }

    .card-whiskey-slider:hover::-webkit-scrollbar-thumb {
        opacity: 1;
        background: var(--primary-color);
    }

.whiskey-card {
    display: flex;
    height: 350px;
    margin: 8px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

    .whiskey-card img {
        filter: brightness(0.5);
    }

    .whiskey-card:first-child {
        margin-left: 0 !important;
    }

    .whiskey-card:last-child {
        margin-right: 0 !important;
    }

.fullscreen-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

    .fullscreen-section img {
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
    }

    .fullscreen-section .container {
        overflow: auto;
        min-height: 70vh;
        max-height: 90vh;
        background-color: var(--background-color)
    }

    .fullscreen-section .summary .summary-item ul li, .fullscreen-section .summary .summary-item p {
        opacity: .7;
        font-size: 14px;
        font-style: italic;
    }

    .fullscreen-section .summary .summary-item {
        width: 100%;
    }

.close-button {
    position: absolute;
    bottom: 20px;
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
    width: 56px !important;
    height: 56px !important;
}

.prev-button {
    left: 20px;
}

.next-button {
    right: 20px;
}
