/*general css*/
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 1;
} 

body::before {
  content: "";
  position: fixed;
  background-color: #040404;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

main {
  position: absolute;
  width: 100%;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #00adb5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto-bold", sans-serif;
}

p {
  text-align: justify;
}

/*scroll bar css*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #a7a7a7; 
}
 
::-webkit-scrollbar-thumb {
  background: #575757; 
}

::-webkit-scrollbar-thumb:hover {
  background: #00adb5; 
}

/*home tab css*/

.home {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

.home * {
  transition: ease-in-out 0.3s;
}

.home h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "roboto-bold", sans-serif;
}

.home h1 a,
.home h1 a:hover {
  color: #fff;
  line-height: 1;
  display: inline-block;
}

.home h2 {
  font-size: 24px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
}


.home h2 span.intro {
  color: #fff;
  font-size: 40px;
  display: block;
}

.home h2 span.name {
  color: #fff;
  font-size: 70px;
  display: block;
  padding: 20px 0;
}

.home h2 span.title {
  color: #00adb5;
  font-size: 35px;
  display: block;
  padding-bottom: 6px;
}

.home h2 span.profession {
  color: #fff;
  font-size: 16px;
  display: block;
  font-family: "roboto", sans-serif;
}

.home img {
  padding: 0;
  margin: 0;
}

.home .logo {
  width: 170px;
  opacity: .3;
  position: absolute;
  top: 40%;
  left: 35%;
  transition: 0.5s;
}

.home .logo:hover {
  opacity: 9;
}

.home .sns {
  margin-top: 40px;
  display: flex;
}

.home .sns a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.home .sns a:hover {
  background: #00adb5;
}

@media (max-width: 992px) {
  .home h1 {
    font-size: 36px;
  }

  .home h2 {
    font-size: 20px;
    line-height: 40px;
  }

  
.home h2 span.intro {
  font-size: 30px;
}

.home h2 span.name {
  font-size: 60px;
}

.home h2 span.title {
  font-size: 30px;
}

.home h2 span.profession {
  font-size: 14px;
}

  .home .sns {
    margin-top: 25px;
  }

  .home .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home .logo {
    width: 120px;
    top: 15%;
  }
}

.home.home-top {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
}

.home.home-top .sns,
.home.home-top h2,
.home.home-top .footer {
  display: none;
}

.home.home-top h1 {
  margin-right: auto;
  font-size: 36px;
}

.home.home-top img {
  max-height: 60px;
  margin-right: 20px !important;
}

.home.home-top .container {
  display: flex;
  align-items: center;
}

.home.home-top .navbar {
  margin: 0;
}

@media (max-width: 768px) {
  .home.home-top {
    height: 60px;
  }

  .home.home-top h1 {
    font-size: 26px;
  }
}

/*navigation bar css*/

.navbar {
  padding: 0;
  margin-top: 25px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  padding: 0 5px;
}

.navbar li+li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "roboto-bold", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #00adb5;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

/*section css*/

section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

section .container {
  padding: 30px;
}

section .panel {
  padding: 10px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

section .panel::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 10px;
  left: -3px;
  top: 0;
  background: #00adb5;
}

section .panel h4 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "roboto-bold", sans-serif;
  color: #fff;
  margin: 10px 0;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }

  section.section-show {
    top: 80px;
  }
}

.section-title h2 {
  font-size: 22px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 25px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #00adb5;
  font-family: "roboto-bold", sans-serif;
}

/*about css*/
.about .bg{
  position: absolute;
  opacity: .3;
  right: 10%;
}

@media (max-width: 992px) {
  .about .bg{
    width: 350px;
  }
}

/*summary css*/
.summary .summary-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.summary .summary-item h4 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "roboto-bold", sans-serif;
  color: #fff;
  margin: 10px 0;
  letter-spacing: 2px;
}

.summary .summary-item h4 em {
  float: right;
  color: #00adb5;
  font-size: 12px;
  font-weight: 400;
  font-family: "roboto", sans-serif;
}

.summary .summary-item p {
  color: #fff;
  margin-bottom: 5px;
}

.summary .summary-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.summary .summary-item ul {
  padding-left: 20px;
  color: #a9a9a9;
}

.summary .summary-item ul li {
  padding: 5px 0;
  font-style: italic;
}

.summary .summary-item ul li:first-child {
  padding-top: 0px !important;
}

.summary .summary-item ul li i {
  margin-right: 10px;
}

.summary .summary-item:last-child {
  padding-bottom: 0;
}

.summary .summary-item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 10px;
  left: -3px;
  top: 0;
  background: #00adb5;
}

/*project tab css*/

.project .p-item {
  margin-bottom: 30px;
}

.project .p-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  display:block;
}

.project .p-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.project .p-wrap .p-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project .p-wrap .p-info::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-top: 2px solid #00adb5;
  border-left: 2px solid #00adb5;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.project .p-wrap .p-info::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-bottom: 2px solid #00adb5;
  border-right: 2px solid #00adb5;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.project .p-wrap .p-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.project .p-wrap .p-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.project .p-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.project .p-wrap:hover .p-info {
  opacity: 1;
  cursor: pointer;
}

/*custom modal css*/

.p-content {
  border: 0;
  border-radius: 0;
  background: #040404;
  padding: 20px;
}

.p-content .p-detail {
    padding: 10px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.p-content .p-detail::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 10px;
  left: -3px;
  top: 0;
  background: #00adb5;
}

.carousel-wrap{
  display: flex;
  max-width: 1200px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.p-content .p-detail h4 {
  color: #fff;
  font-size: 16px;
}

.p-content .p-description ul, .p-content .p-description p {
  padding-left: 20px;
  color: #a9a9a9;
}

.p-content .p-description ul li {
  padding: 5px 0;
  font-style: italic;
}

.p-content .p-description ul li:first-child {
  padding-top: 0px !important;
}

/*carousel css*/
.carousel-wrap i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  color: #00adb5;
}

.carousel-wrap i:active{
  transform: translateY(-50%) scale(0.9);
}

.carousel-wrap i:hover{
  background: #f2f2f2;
}

.carousel-wrap i:first-child{
  left: -22px;
  display: none;
}

.carousel-wrap i:last-child{
  right: -22px;
}

.carousel-wrap .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img{
  pointer-events: none;
}

.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}

.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}

.full-image-panel{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  top:0;
  left:0;
}

.full-image-panel i{
  font-size: 40px;
  color: #fff;
  float: right;
  cursor: pointer;
  position: absolute;
  top: calc(100% / 15);
  right: calc(100% / 15);
}

/*contact tab css*/

.contact a {
  color: #fff;
}

.contact a:hover {
  color: #00adb5;
  text-decoration: none;
}

.contact .message .loading {
  -ms-flex-align: center;
  align-items: center;
  background: rgb(4 4 4 / 70%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 50;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.contact .message .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 3px solid #00adb5;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .message input,
.contact .message textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: #fff;
}

.contact .message input:focus,
.contact .message textarea:focus {
  background-color: rgba(255, 255, 255, 0.11);
}

.contact .message input::-moz-placeholder,
.contact .message textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .message input::placeholder,
.contact .message textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .message input,
.contact .message textarea {
  padding: 10px 15px;
}

.contact .message button {
  background: transparent;
  border: 1px solid #00adb5;
  font-weight: 600;
  font-family: "roboto-bold", serif;
  padding: 10px 30px;
  font-size: 14px;
  color: #00adb5;
  transition: 0.3s;
}

.contact .message button:hover {
  background: #00adb5;
  color: #fff;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*footer css*/

.footer {
  font-size: 14px;
  color: #fff;
  opacity: .2;
  font-family: "roboto", serif;
  position: absolute;
  bottom: 0;
} 

@media (max-width: 992px){
  .footer p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
